


 /*-------------users---------------------*/
 .shym-user
 {
 background:black;
 overflow:hidden;
 opacity:0.9;
 }
 .shym-user>.container
 {
 padding:50px 0;
 }
 .team
 {
 background:red;
 }
 .img
 {
 position:relative;
 float:left;
 max-width:100%;
 overflow:hidden;
 }
 .img img
 {
 max-width:100%;
 max-height:100%;
 }
 
 .over
 {
 position:absolute;
 display:block;
 z-index:20;
 text-align:center;
 overflow:hidden;
 transition:all 1s;
 background:#000;
 opacity:0.8;
 -webkit-transition:all 1s;
 -moz-transition:all 1s;
 -o-transition:all 1s;
 }
 .info
 {
 padding:20px 10px;
 display:inline-block;
 width:100%;
 text-align:center;
 color:#000;
 }
 .over a.expand {
	left: 0;
	right: 0;
	top: 25%;
	margin: 0 auto -30px auto;
}
.over a.expand:hover {
	color: #fff;
}
.over i
{
font-size:10em;
color:white;
}
.des {
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	top: 40%;
	padding:10px;
}
.des p
{
text-align:justify;
}
.img.hover .over {
	height: 100%;
}

.expand {
	display: block;
	position: absolute;
	z-index: 100;
	text-align: center;
	color: #fff;
	font-size: 60px;
}
.over {
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
}
 
 
 

/* Feedback Section Start */
#feedback {
  background: url(../img/backgrounds/imgfooter.jpg);
  background-size: cover;
}
#feedback .section-title {
  color: #ffffff;
}
#feedback .input-group {
  padding-bottom: 20px;
}
#feedback .input-group .input-group-addon {
  border-radius: 0px;
  padding: 14px 26px;
  background-color: #82bc00;
  border: none;
  position: relative;
}
#feedback .input-group .input-group-addon i {
  color: #ffffff;
  font-size: 26px;
  width: 24px;
  height: 24px;
}
#feedback .input-group .form-control {
  color: #898989;
  font-size: 22px;
  font-weight: 300;
  padding: 15px 20px;
  height: 60px;
  border: 0;
  border-radius: 0px;
}
#feedback .input-group .form-control:focus {
  box-shadow: none;
}
#feedback .input-group .large {
  height: 120px;
}
#feedback .btn-green {
  color: #ffffff;
  font-weight: 400;
  background: #6c9c01;
  font-size: 22px;
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  height: 60px;
}
#feedback .btn-green i {
  float: left;
  width: 74px;
  background: #82BC00;
  margin: -12px;
  line-height: 56px;
  height: 60px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#feedback .address {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#feedback .address h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 30px;
}
#feedback .address .contact-info {
  padding-bottom: 30px;
}
#feedback .address .contact-info li {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
#feedback .address .contact-info li i {
  padding-right: 15px;
  font-size: 15px;
}
#feedback .address .social-icon li {
  float: left;
}
#feedback .address .social-icon li a {
  display: inline-block;
  color: #ffffff;
  margin: 0px 5px;
}
#feedback .address .social-icon li a i {
  font-size: 18px;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#feedback .address .social-icon li a .fa-twitter:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
#feedback .address .social-icon li a .fa-facebook:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
#feedback .address .social-icon li a .fa-google-plus:hover {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
#feedback .address .social-icon li a .fa-youtube:hover {
  background: #bb0000;
  border: 1px solid #bb0000;
}
#feedback .address .social-icon li a .fa-linkedin:hover {
  background: #007bb6;
  border: 1px solid #007bb6;
}
/* Feedback Section End */

